{%- assign on_sale = false -%}
    {%- if product.compare_at_price > product.price -%}
    {%- assign on_sale = true -%}
{%- endif -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
    {%- assign sold_out = false -%}
{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.metafields.my_fields.shortdescription != blank  -%}
    {%- assign shortDescription = product.metafields.my_fields.shortdescription -%}
{%- else -%}
    {%- assign shortDescription = product.description | strip_html | truncate: 200 -%}
{%- endif -%}
{% assign date_created = product.created_at | date:'%s' %}
{% assign     date_now = 'now' | date:'%s' %}
{% assign   difference = date_now | minus: date_created %}
<div class="product-card product-grid mb-0 pb-4">
    <div class="product-card__image-wrapper position-relative">
        <a class="product-card__image-link" href="{{ product.url }}">
            <span {% if product.media[1] != nil and settings.show_secondary_image %} class="img-primary"{% endif %}>
                {% include 'img-global', image: product.featured_media, image_ratio: settings.image_ratio, crop: image_crop  %}
            </span>
            {%- if product.media[1] != nil and settings.show_secondary_image -%}
                <span class="img-secondary position-absolute">
                    {% include 'img-global', image: product.media[1], image_ratio: settings.image_ratio, crop: image_crop %}
                </span>
            {%- endif -%}
        </a>
        <div class="product-card__label">
            {%- if difference < 2592000 and settings.product_card_new -%}
                <span class="label-new"><span class="d-block overflow-hidden">{{ 'products.product.label_new' | t }}</span></span>
            {%- endif -%}
            {%- if sold_out and settings.product_card_available -%}
                <span class="label-sold-out"><span class="d-block overflow-hidden">{{ 'products.product.sold_out_html' | t }}</span></span>
            {%- elsif on_sale and settings.product_card_sale -%}
                {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | times: 100 | divided_by : product.compare_at_price  }}{%- endcapture -%}
                <span class="label-on-sale"><span class="d-block overflow-hidden">{{ 'products.general.save_html' | t: saved_amount: saved_amount }}%</span></span>
                
            {%- endif -%}
        </div>
        {%- if settings.quickview_enable -%}
            <a class="js-btn-quickview d-flex justify-content-center align-items-center btn--quickview position-absolute rouned-circle end-0 bottom-0 rounded-2 m-3" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-handle="{{ product.handle }}" title="{{ 'products.product.quickview' | t }}">
                {% include 'icons', icon: 'arrow_condense', attr: 'width="16px" height="16px"' %}
                <span class="d-none">{{ 'products.product.quickview' | t }}</span>
                <div class="d-none proShortDesc">
                    {{ shortDescription }}
                </div>
            </a>
        {%- endif -%}
        {%- if product.metafields.my_fields.countdown != blank and section.settings.countdown -%}
            {% assign final_time = product.metafields.my_fields.countdown %} 
            <div class="position-absolute d-flex bottom-0 mb-2 ms-2">
                <div class="product-card__countdown countdown style1 px-2 px-lg-3" data-countdown="{{ final_time }}"></div>
            </div> 
        {%- endif -%}
    </div>
    <div class="product-card__content bg-white px-3">
        <div class="product-card__content--inner  position-relative mt-3 pe-4">
            {%- if settings.product_vendor_enable -%}
            <p class="product-card__vendor">{{ product.vendor }}</p>
            {%- endif -%}
            <div class="product-card__name">
                <a href="{{ product.url }}">{{ product.title }}</a>
            </div>
            {%- if settings.product_reviews_enable and settings.product_card_review -%}
            <div class="product-card__review product-review">
                    {% include 'product-review-card' %}
            </div>
            {%- endif -%}
            <div class="product-group-price d-flex align-items-center">
                {%- if on_sale -%}
                    <div class="product-price">{{ product.price | money }}</div>
                    <div class="product-price product-price--regular ms-1">{{ product.compare_at_price | money }}</div>
                {%- else -%}
                    {% if product.price_max > product.price_min %}
                        <div class="product-price">{{ product.price_min | money }} - {{ product.price_max | money }}</div> 
                    {%- else -%}
                        <div class="product-price {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                    {%- endif -%} 
                {%- endif -%}
                
                {%- if product.price_varies == false and variant.unit_price_measurement -%}
                    {%- capture unit_price_separator -%}
                        <span>/</span><span class="d-none">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                    {%- endcapture -%}
                    {%- capture unit_price_base_unit -%}
                        <span>
                        {%- if variant.unit_price_measurement.reference_value != 1 -%}
                            {{- variant.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ variant.unit_price_measurement.reference_unit }}
                        </span>
                    {%- endcapture -%}
                    <span class="product-unit-price">
                        <span class="d-none">{{ 'products.general.unit_price' | t }}</span>
                        <span>{{ variant.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                    </span>
                {%- endif -%}
                {%- if shop.taxes_included and settings.product_card_tax -%}
                    <span class="ms-2">
                        {{ 'products.general.include_taxes' | t }}
                    </span>
                {%- endif -%}
            </div>
            {%- if shortDescription != blank and settings.product_card_shortdesc -%}
                <div class="product-card__summary">{{ shortDescription }}</div>
            {%- endif -%}
            {%- if settings.product_card_addtocart -%}
                <div class="product-card__buttons">
                    <div class="product-card__form">
                        {%- assign variant_count = product.variants | size -%}
                        <form action="{{ routes.cart_add_url }}" method="post" enctype="multipart/form-data" class="form-addtocart" data-product-form>
                        <input type="hidden" name="id" value="{{ variant.id }}" />
                        {%- unless sold_out -%}
                            {%- if variant_count > 1 -%}
                            <a class="btn btn--add-to-cart" href="{{ product.url }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'products.product.select_options' | t }}">
                                {%- render 'icons', icon: 'shopping-cart', attr: 'width="22px"' -%}
                                <span class="d-none">{{ 'products.product.select_options' | t }}</span>
                            </a>
                            {%- else -%}
                            <button class="js-btn-addtocart btn btn--add-to-cart"
                                data-bs-toggle="tooltip" data-bs-placement="top"
                                type="submit"
                                value="Submit"
                                title="{{ 'products.product.add_to_cart' | t }}">
                                {%- render 'icons', icon: 'shopping-cart', attr: 'width="22px"' -%}
                                <span class="d-none">{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                            {%- endif -%}
                        {%- endunless -%}
                        </form>
                    </div>
                </div>
            {%- endif -%}
        </div>
        {%- if settings.product_card_swatch -%}
            {%- unless product.has_only_default_variant -%}
                <div class="product-card__swatch">
                    {% for option in product.options %}
                        {%- if option == 'Color' or option == 'color' -%}
                            {%- assign optionIndex = forloop.index0 -%}
                            {%- assign valueList = '' -%}
                            {%- assign value = '' -%}
                            {%- if product.variants.size > 1 -%}
                                <ul class="product-card__swatch--list d-flex flex-wrap justify-content-center list-unstyled mb-0 mt-2">
                                    {% for variant in product.variants %}
                                        {%- assign value = variant.options[optionIndex] -%}
                                        {%- unless valueList contains value -%}
                                            <li class="border rounded-circle overflow-hidden">
                                                <label class="d-block rounded-circle overflow-hidden" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({% if variant.image.src != blank %}{{ variant.image.src | product_img_url:'small', crop: 'center' }}{% else %}{{ value | handle | append: '.png' | file_url }}{% endif %})"></label>
                                                <div class="hidden">
                                                    <a href="{% if variant.image.src != blank %}{{ variant.image.src | product_img_url:'large' }}{% else %}#{% endif %}"></a>
                                                </div>
                                            </li>
                                            {%- assign valueList = valueList | join: ',' -%}
                                            {%- assign valueList = valueList | append: ',' | append: value -%} 
                                            {%- assign valueList = valueList | split: ',' -%}
                                        {%- endunless -%}
                                    {% endfor %}
                                </ul>
                            {%- endif -%}
                        {%- endif -%}
                    {% endfor %}
                </div>
            {%- endunless -%}
        {%- endif -%}
    </div>
</div>

