{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
	{%- capture fullname -%}{{ customer.first_name }}{%- endcapture -%}
	{%- assign logout = 'customer.log_out' | t -%}
	{%- assign login = 'customer.log_in' | t -%}
	{%- assign register = 'customer.registration' | t -%}
	<div class="velaTopLinks ms-lg-4">
		<div class="top-link__title header__icon d-flex align-items-center justify-content-end flex-wrap">
			{%- render 'icons' with icon: 'user', class: 'icon icon-user', attr: 'width="20" height="20"' -%}
		</div>
		<div class="top-link__dropdown-menu">
			<ul class="list-unstyled m-0">
				{% if customer  %}
					<li class="link"><a href="{{routes.account_url}}" title="{{ 'customer.account.title' | t }}">{{ 'customer.account.title' | t }}</a></li>              
					<li class="link">{{ logout | customer_logout_link }}</li>
				{% else %}
					<li class="link">{{ login | customer_login_link }}</li>
					<li class="link">{{ register | customer_register_link }}</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endif %}