<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
		{% if settings.favicon != blank %}
			<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
			<!-- iPad icons -->
			<link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | img_url: '48x48' }}" type="image/png">
			<link rel="nokia-touch-icon" href="{{ settings.favicon | img_url: '48x48' }}" type="image/png">
		{% endif %}

		{%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
		<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}
		{%- if settings.type_special_type == 'google_fonts' and settings.type_special_link != blank -%}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="{{settings.type_special_link}}" rel="stylesheet">
		{%- endif -%}
		
		<title>{{ shop.name }}</title>

		{% if page_description %}
			<meta name="description" content="{{ page_description | escape }}">
		{% endif %}

		{% render 'meta-tags' %}
		{% include 'header-styles' %}
		{% include 'header-javascript' %}
			<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
		{{ content_for_header }}

		{%- liquid
		assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
		assign body_font_medium = settings.type_body_font | font_modify: 'weight', '500'
		assign body_font_light = settings.type_body_font | font_modify: 'weight', '300'
		%}
		{% include 'css-variables' %}
		

		{%- unless settings.type_body_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		{%- unless settings.type_header_font.system? -%}
			<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
		{%- endunless -%}
		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
	</head>

	<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }} {{ template.suffix }}">
		{%- if settings.preloading -%}
			{% render 'preloading' %}
		{%- endif -%}
		{% section 'announcement-bar' %}
		{% section 'header' %}
		<main id="MainContent" class="main-content content-for-layout" tabindex="-1">
			<div class="main-content__inner">
				{{ content_for_layout }}
			</div>
		</main>
		{%- unless template.suffix == 'about-me'  -%}
			{% section 'footer' %}
		{%- endunless -%}
		{% include 'footer-javascript' %}
		{% include 'site-template' %}
			
		<script>
			window.shopUrl = '{{ shop.url }}';
			window.routes = {
				{%- if request.page_type == 'cart' -%}
					cart_add_url: '{{ routes.cart_add_url }}',
					cart_change_url: '{{ routes.cart_change_url }}',
					cart_update_url: '{{ routes.cart_update_url }}',
				{%- endif -%}
				predictive_search_url: '{{ routes.predictive_search_url }}'
			};
		</script>
	</body>
</html>
