{%- if section.settings.enable_country_selector  -%}
	{{ 'disclosure.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if section.settings.enable -%}
<style data-shopify>
	.announcement-bar {
		color: {{ section.settings.color_top_text }};
		background-color: {{ section.settings.color_bg }};
		font-family: var(--font-special-family);
		font-size: {{ section.settings.font-size}}px;
		{%- if section.settings.padding_block != blank -%}
			padding: {{ section.settings.padding_block }};
		{%- endif -%}
		{%- if section.settings.image_bg != blank -%}
			background-image: url({{ section.settings.image_bg | img_url: 'master' }});
			background-size: cover;
			background-position: cetner cetner;
		{%- endif -%}
	}
	.announcement-bar .disclosure__button {
		color: {{ section.settings.color_top_text }};
		font-size: {{ section.settings.font-size}}px;
	}
	.announcement-bar .text,
	.announcement-bar a {
		color: {{ section.settings.color_top_link }};
	}
	.announcement-bar .text:hover,
	.announcement-bar a:hover {
		color: var(--primary);
	}
</style>
<div class="announcement-bar py-1">
	<div class="container{%- if section.settings.full_with -%}-fluid{%-endif-%}">
		<div class="announcement-bar__inner d-flex justify-content-center align-items-center py-2">
			{%- if section.settings.text != blank -%}
				<div class="announcement-bar__text text-center">
					{{ section.settings.text }}
				</div>
			{%- endif -%}
		</div>
	</div>
</div>
{%- endif -%}
{% schema %}
{
  "name": "Announcement",
  "settings": [
  	{
		"type": "checkbox",
		"id": "enable",
		"label": "Enabel?",
		"default": true
	},
	{
		"type": "checkbox",
		"id": "full_with",
		"label": "Enabel Full Width?"
	},
	{
		"type": "text",
		"id": "padding_block",
		"label": "Padding",
		"placeholder": "0px 0px",
		"info": "0px 0px 0px 0px"
	},
	{
		"type": "color",
		"id": "color_bg",
		"label": "Background Color",
		"default": "rgba(0,0,0,0)"
	},
	{
		"type": "image_picker",
		"id": "image_bg",
		"label": "Background Image"
	},
	{
		"type": "color",
		"id": "color_top_text",
		"label": "Color",
		"default": "#1f2021"
	},
	{
		"type": "color",
		"id": "color_top_link",
		"label": "Color Link",
		"default": "#1f2021"
	},
	{
		"type": "range",
		"id": "font-size",
		"min": 8,
		"max": 30,
		"step": 1,
		"unit":"px",
		"label": "Font-size",
		"default": 14
	},
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Ex: Free shipping on all orders over <u>$79<\/u><a href=\"\/collections\/all\" class=\"bg-primary\">shop Now!<\/a>"
    }
  ]
       
}
{% endschema %}
