{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
    {%- capture bgColor -%}
        background-color: {{ section.settings.color_bg }};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.padding_block != blank -%}
    {%- capture paddingblock -%}
        padding: {{section.settings.padding_block}};
    {%- endcapture -%}
{%- endif -%}
{%- if section.settings.margin_block != blank -%}
    {%- capture marginblock -%}
        margin: {{section.settings.margin_block}};
    {%- endcapture -%}
{%- endif -%}
<div class="template-404 text-center vela-section overflow-hidden" style="{{ bgColor}}{{ paddingblock }}{{ marginblock }}">
	<div class="container">
		<div class="template-404__inner pt-5">
			<p class="template-404__heading fw-bold">
				{%- if section.settings.image != blank  -%}
					<span class="d-inline-block mb-4">
						<img class="img-fluid" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url: 'master' }}">
					</span>
				{%- else -%}
					{{ 'templates.404.subtext' | t }}
				{%- endif -%}
			</p>
			{%- if section.settings.sub_heading != blank  -%}
				<div class="template-404__sub-title">{{ section.settings.sub_heading }}</div>
			{%- endif -%}
			<h1 class="template-404__title  position-relative mb-4 text-uppercase">
				{%- if section.settings.heading != blank -%}
					{{ section.settings.heading }}
				{%- else -%}
					{{ 'templates.404.title' | t }}
				{%- endif -%}
			</h1>
			{%- if section.settings.info != blank -%}
				<p class="text mb-5 pb-lg-4">
					{{ section.settings.info }}
				</p>
			{%- endif -%}
			<a href="{{ routes.all_products_collection_url }}" class="btn btn-primary px-5 py-2 lh-lg text-white">
				<span>{{ 'general.continue_shopping' | t }}</span>
			</a>
		</div>
	</div>
</div>
{% schema %}
    {
        "name": "Template 404",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
			{
                "type": "color",
                "id": "color_bg",
                "label": "Background Color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "text",
                "id": "padding_block",
                "label": "Padding",
                "placeholder": "0px 0px"
            },
            {
                "type": "text",
                "id": "margin_block",
                "label": "Margin",
                "placeholder": "0px 0px"
            },
			{
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
			{
				"type": "header",
				"content": "General Settings"
			},
			{
				"type": "text",
				"id": "sub_heading",
				"label": "Sub heading",
				"default": "404"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Oops! That page can't be found."
			},
			{
				"type": "textarea",
				"id": "info",
				"label": "Info",
				"default": "We're really sorry but we can't seem to find the page you were looking for."
			}
        ]
    }
{% endschema %}